<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpp.comiccps.basics.dao.AdminCpsStatisticsDayMapper">
  <resultMap id="BaseResultMap" type="com.qpp.comiccps.basics.entity.AdminCpsStatisticsDay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="monthRunWater" jdbcType="INTEGER" property="monthrunwater" />
    <result column="monthProfit" jdbcType="DOUBLE" property="monthprofit" />
    <result column="addCps" jdbcType="INTEGER" property="addcps" />
    <result column="implDate" jdbcType="VARCHAR" property="impldate" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, userName, monthRunWater, monthProfit, addCps, implDate, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admincpsstatisticsday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admincpsstatisticsday
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qpp.comiccps.basics.entity.AdminCpsStatisticsDay">
    insert into admincpsstatisticsday (id, uid, userName, 
      monthRunWater, monthProfit, addCps, 
      implDate, state)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{monthrunwater,jdbcType=INTEGER}, #{monthprofit,jdbcType=DOUBLE}, #{addcps,jdbcType=INTEGER}, 
      #{impldate,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qpp.comiccps.basics.entity.AdminCpsStatisticsDay">
    insert into admincpsstatisticsday
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="monthrunwater != null">
        monthRunWater,
      </if>
      <if test="monthprofit != null">
        monthProfit,
      </if>
      <if test="addcps != null">
        addCps,
      </if>
      <if test="impldate != null">
        implDate,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="monthrunwater != null">
        #{monthrunwater,jdbcType=INTEGER},
      </if>
      <if test="monthprofit != null">
        #{monthprofit,jdbcType=DOUBLE},
      </if>
      <if test="addcps != null">
        #{addcps,jdbcType=INTEGER},
      </if>
      <if test="impldate != null">
        #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qpp.comiccps.basics.entity.AdminCpsStatisticsDay">
    update admincpsstatisticsday
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="monthrunwater != null">
        monthRunWater = #{monthrunwater,jdbcType=INTEGER},
      </if>
      <if test="monthprofit != null">
        monthProfit = #{monthprofit,jdbcType=DOUBLE},
      </if>
      <if test="addcps != null">
        addCps = #{addcps,jdbcType=INTEGER},
      </if>
      <if test="impldate != null">
        implDate = #{impldate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qpp.comiccps.basics.entity.AdminCpsStatisticsDay">
    update admincpsstatisticsday
    set uid = #{uid,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      monthRunWater = #{monthrunwater,jdbcType=INTEGER},
      monthProfit = #{monthprofit,jdbcType=DOUBLE},
      addCps = #{addcps,jdbcType=INTEGER},
      implDate = #{impldate,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--后台查看cps统计数据-->
  <select id="selectCpsDataStatistics" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM  AdminCpsStatisticsDay WHERE state = 1 AND uid = #{uid}
    <if test="startDate != null">
      AND implDate BETWEEN #{startDate} AND DATE_ADD(#{endDate},INTERVAL 1 DAY)
    </if>
    ORDER BY implDate DESC
  </select>
</mapper>