<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpp.comiccps.basics.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.qpp.comiccps.basics.entity.Log">
    <id column="log_id" jdbcType="VARCHAR" property="logId" />
    <result column="log_user" jdbcType="VARCHAR" property="logUser" />
    <result column="log_time" jdbcType="VARCHAR" property="logTime" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="log_action" jdbcType="VARCHAR" property="logAction" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, log_user, log_time, log_ip, log_action
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log
    where log_id = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from log
    where log_id = #{logId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qpp.comiccps.basics.entity.Log">
    insert into log (log_id, log_user, log_time, 
      log_ip, log_action)
    values (#{logId,jdbcType=VARCHAR}, #{logUser,jdbcType=VARCHAR}, #{logTime,jdbcType=VARCHAR}, 
      #{logIp,jdbcType=VARCHAR}, #{logAction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qpp.comiccps.basics.entity.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="logUser != null">
        log_user,
      </if>
      <if test="logTime != null">
        log_time,
      </if>
      <if test="logIp != null">
        log_ip,
      </if>
      <if test="logAction != null">
        log_action,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="logUser != null">
        #{logUser,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logAction != null">
        #{logAction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qpp.comiccps.basics.entity.Log">
    update log
    <set>
      <if test="logUser != null">
        log_user = #{logUser,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        log_time = #{logTime,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        log_ip = #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logAction != null">
        log_action = #{logAction,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qpp.comiccps.basics.entity.Log">
    update log
    set log_user = #{logUser,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=VARCHAR},
      log_ip = #{logIp,jdbcType=VARCHAR},
      log_action = #{logAction,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>

</mapper>